<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Condensed:ital,wght@0,300;1,400&family=Tilt+Prism&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/8def7635c6.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header class="main-header">
        <div class="main-header-top-bar">  

        <div class="logo-boton-contenedor">
            <img src="/images/logo-mercado-liebre.svg" class="logo">
    
            <div class="boton">
            <button>Buscar productos, marcas</button>
                <button><div class="busqueda"><i class="fa-solid fa-magnifying-glass"></i></div></button>
            </div>
            </div>
            

        <h2 class="copy-header">
    <i class="fa-solid fa-hand-holding-dollar"></i>
    Compra en cuotas y sin tarjetas de credito
    </h2>
        </div>
        
            <a href="#" class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </a>
            
            <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
    
            
            <ul class="right-navbar">
                <li><a href="register.html">Crea Tu Cuenta <i class="fa-regular fa-credit-card"></i></a></li>
                <li><a href="login.html">Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>

            </ul>
            </nav>
            <div class="banner"><img src="/images/img-home-banner.jpg" width="100%"></div>
        
            
            
    
        
        
        </header>
        
        <main>
            <h3 class="titulares">Basado en tu ultima visita</h3>
            
        <div class="articulos">

<div class="contenedor">
    <div class="imagen"><img src="/images/img-cafetera-moulinex.jpg" width="40%"></div>
    <div class="Cafetera">
        <div class="logo-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
        <div class="precios-descuentos">
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
        </div>
        <p class="descripciones">Cafetera Moulinex</p>
    </div>
    </div>
    
    <div class="contenedor">
        <div class="imagen"><img src="/images/img-macbook-pro-2019.jpg" width="40%"></div>
    <div class="Mac">
        <div class="logo-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
        <div class="precios-descuentos">
            <p class="precios">$230.000</p>
            <p class="descuentos">20% OFF</p>
        </div>
        <p class="descripciones">MacBook Pro 2019</p>
        </div>
        </div>

<div class="contenedor">
    <div class="imagen"><img src="/images/img-samsung-galaxy-s10.jpg" width="40%"></div>
        <div class="Samsung">
            <div class="logo-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
        <div class="precios-descuentos">
            <p class="precios">$70.500</p>
            <p class="descuentos">10% OFF</p>
        </div>
        <p class="descripciones">Samsung Galaxy S10</p>
    </div>
    </div>
    
    <div class="contenedor">
        <div class="imagen"><img src="/images/img-tv-samsung-smart.jpg" width="40%"></div>
        <div class="Tv">
            <div class="logo-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
        <div class="precios-descuentos">
        <p class="precios">$23.200</p>
        <p class="descuentos">5% OFF</p>
        </div>
        <p class="descripciones">SmartTv Samsung 43"</p>
        </div>
        </div>

        <h3 class="titulares">Seccion de Ofertas</h3>

        <div class="contenedor2">
          <div class="imagen"><img src="/images/img-cafetera-moulinex.jpg" width="40%"></div>
        <div class="Cafetera">
            <div class="logo-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
        <div class="precios-descuentos">
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
        </div>
        <p class="descripciones">Cafetera Moulinex</p>
        </div>
        </div>


        <div class="contenedor2">
            <div class="imagen"><img src="/images/img-macbook-pro-2019.jpg" width="40%"></div>
        <div class="Mac">
            <div class="logo-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
            <div class="precios-descuentos">
                <p class="precios">$230.000</p>
                <p class="descuentos">20% OFF</p>
        </div>
        <p class="descripciones">MacBook Pro 2019</p>
        </div>
        </div>

        <div class="contenedor2">
            <div class="imagen"><img src="/images/img-samsung-galaxy-s10.jpg" width="40%"></div>
        <div class="Samsung">
            <div class="logo-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
            <div class="precios-descuentos">
                <p class="precios">$70.500</p>
                <p class="descuentos">10% OFF</p>
        </div>
        <p class="descripciones">Samsung Galaxy S10</p>
        </div>
        </div>
        
        <div class="contenedor2">
        <div class="imagen"><img src="/images/img-tv-samsung-smart.jpg" width="40%"></div>
        <div class="Tv">        
            <div class="logo-envio"><i class="fa-solid fa-truck" style="color: #39b54a;"></i></div>
            <div class="precios-descuentos">
        <p class="precios">$23.200</p>
        <p class="descuentos">5% OFF</p>
        </div>
        <p class="descripciones">SmartTv Samsung 43"</p>
        </div>
        </div>
    </div>
    </main>

    <footer>
        <i class="fa-solid fa-credit-card" style="color: #1161b6"></i>
        <h4 class="titulares">Paga Con tarjeta o en efectivo</h4>
        <p class="descripciones">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

            <i class="fa-solid fa-gift" style="color:#1161b6; "></i>
            <h4 class="titulares"> Envio gratis desde $2.500</h4>
            <p class="descripciones">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>

                <i class="fa-solid fa-user-shield" style="color: #1161b6;"></i>
                <h4 class="titulares"> Seguridad de principio a fin</h4>
                <p class="descripciones">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>

                </footer>
                    <h5 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
</body>
</html>
</html>
